.map {
    width: 1024px;
    height: 748px;
    border: 1px solid #ccc;
}

.customEditingToolbar {
	float: right;
	right: 0px;
	height: 30px; 
}

.customEditingToolbar div {
	float: right;
	margin: 5px;
	width: 100px;
	height: 24px;
}

.olControlDrawFeaturePathItemInactive { 
	background-image: url("../lib/openlayers/theme/default/img/draw_line_off.png");
	background-repeat: no-repeat;
}

.olControlDrawFeaturePathItemActive { 
	background-image: url("../lib/openlayers/theme/default/img/draw_line_on.png");
	background-repeat: no-repeat;                                                               
}

.olControlDeleteFeatureItemActive { 
	background-image: url("../lib/openlayers/theme/default/img/remove_point_on.png");
	background-repeat: no-repeat;
	background-position: 0px 1px;
}

.olControlDeleteFeatureItemInactive { 
	background-image: url("../lib/openlayers/theme/default/img/remove_point_off.png");
	background-repeat: no-repeat;
	background-position: 0px 1px;
}

.olControlModifyFeatureItemActive { 
	background-image: url("../lib/openlayers/theme/default/img/move_feature_on.png");
	background-repeat: no-repeat;
	background-position: 0px 1px;
}

.olControlModifyFeatureItemInactive { 
	background-image: url("../lib/openlayers/theme/default/img/move_feature_off.png");
	background-repeat: no-repeat;
	background-position: 0px 1px;
}	
	
.olControlModifyFeatureDragItemActive { 
	background-image: url("../lib/openlayers/theme/default/img/pan_on.png");
	background-repeat: no-repeat;
	background-position: 0px 1px;
}

.olControlModifyFeatureDragItemInactive { 
	background-image: url("../lib/openlayers/theme/default/img/pan_off.png");
	background-repeat: no-repeat;
	background-position: 0px 1px;
}

.olControlSelectFeatureItemActive { 
	background-image: url("../lib/openlayers/theme/default/img/info-512.png");
	background-repeat: no-repeat;
	background-position: 0px 1px;
}

.olControlSelectFeatureItemInactive { 
	background-image: url("../lib/openlayers/theme/default/img/Information-Icon.png");
	background-repeat: no-repeat;
	background-position: 0px 1px;
}	

#popup{
	position: absolute; 
	display: none;  
	background-color: #E1E7E8;
	border: 3px solid #CED4D6;
}

#tblData span{
    float: left;
    width: 60px;
}